$backgroundColor:#000000;
$fontColorHeader:#919191;
$fontColorHeaderActive:#cccccc;
$fontColorNavLink:#cccccc;

$fontColorWhite:#ffffff;
$colorButtonPurchase:#e95104;
$colorBorderButtonPurchase:#421e0e;
$fontColorDescription_Product:#cccccc;

$fontColorDescriptionItem:#999999;