$max-device-width:425px;
$max-width:1260px;
$min-width: 600px;

//item Css main

$headerHeight:60px;
$headerHeightAdapt:40px;

$fontSizeHeader:15px;
$fontSizeHeaderH1:16px;
$fontSizeHeaderH1Adapt:12px;

$fontSizeNav:17px;
$fontSizeNavAdapt:15px;

$fontSizeDescription_Product:15px;
$fontSizeDescription_ProductAdapt:13px;

$fontSizeDescription_price:15px;
$fontSizeDescription_priceAdapt:15px;

$fontSizeButtonPurchase: 12px;

//item Css variable

$fontSizePriceItem:24px;
$fontSizeButtonPurchaseItem: 17px;
$fontSizeDescriptionItem:17px;
$fontSizeNameItem:64px;
$fontSizeNameItemAdapt:24px;

$bottomButtonHeightAdapt:60px;
